# Build artifacts
bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/
*.cache/
*.obj
*.pdb

# VS/VSCode
.vs/
.vscode/
*.user
*.suo

# Maui/Win artifacts
AppPackages/
Package.StoreAssociation.xml
*.appx
*.appxbundle
*.msix
*.msixbundle

# Publish output (生成物はリリースで管理)
publish/

# OS
.DS_Store
Thumbs.db
